/* normalize-rtl.css - RTL language extension of normalize.scss. */
/*font-family:'News Gothic MT W01';
font-family:'NewsGothicMTW01-Italic';
font-family:'News Gothic MT W01 Bold';
font-family:'NewsGothicMTW01-BoldIta';
font-family:'NewsGothicMTW01-Condens';
font-family:'NewsGothicMTW01-BoldCon';*/
/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/custom\/sass\/normalize-rtl\.scss}line{font-family:\0000314}}
dd {
  margin: 0 30px 0 0;
}

/*
 * Addresses paddings set differently in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/custom\/sass\/normalize-rtl\.scss}line{font-family:\0000325}}
menu,
ol,
ul,
.item-list ul {
  padding: 0 30px 0 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* =============================================================================
   Tables
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/custom\/sass\/normalize-rtl\.scss}line{font-family:\0000348}}
th {
  text-align: right;
}
