/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*font-family:'News Gothic MT W01';
font-family:'NewsGothicMTW01-Italic';
font-family:'News Gothic MT W01 Bold';
font-family:'NewsGothicMTW01-BoldIta';
font-family:'NewsGothicMTW01-Condens';
font-family:'NewsGothicMTW01-BoldCon';*/
/*
 * Body
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\0000315}}
body {
  margin: 0;
  padding: 0;
  color: #61565a;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\0000321}}
#page {
  /*border-right: 1px solid black;
  border-left: 1px solid black;*/
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\0000326}}
.pointer {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\0000330}}
#mti_wfs_colophon img {
  display: none;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\0000339}}
#skip-link {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\0000343}}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #61565a;
}

/*
 * Header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\0000357}}
#header {
  padding-bottom: 52px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\0000359}}
#header > div {
  float: left;
  width: 33%;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\0000368}}
#header #logo {
  /* Wrapping link for logo */
  display: block;
  float: left;
  /* LTR */
  margin-left: 27px;
  margin-top: 48px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\0000376}}
#header .garden-tools {
  padding-top: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\0000378}}
#header .garden-tools .sprite {
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\0000383}}
#header .contact_info {
  padding-top: 38px;
  text-align: right;
  line-height: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\0000387}}
#header .contact_info .social {
  float: right;
  margin-bottom: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\0000390}}
#header .contact_info .social a {
  display: block;
  float: left;
  margin-left: 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\0000396}}
#header .contact_info .info {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\0000398}}
#header .contact_info .info p {
  margin: 0 0 24px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003107}}
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003112}}
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003119}}
#site-name a:link,
#site-name a:visited {
  color: #61565a;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003125}}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003130}}
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003136}}
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003158}}
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003160}}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003164}}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003177}}
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
  font-size: 19px;
  font-family: 'News Gothic MT W01 Bold';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003184}}
h2.subtitle {
  font-size: 19px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003188}}
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003194}}
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003199}}
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003203}}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003209}}
div.status {
  /* Normal priority messages */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003214}}
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003221}}
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003225}}
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003231}}
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003237}}
.tabs {
  /* See also the tabs.css file. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003241}}
.region-help {
  /* Help text on a page */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003245}}
.more-help-link {
  /* Link to more help */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003249}}
.region-content {
  /* Wrapper for the actual page content */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003253}}
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003258}}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003265}}
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003270}}
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003274}}
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003280}}
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003284}}
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003305}}
.region-sidebar-second {
  padding-top: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003308}}
.region-sidebar-second .block {
  padding-right: 27px;
  float: right;
  clear: right;
}

/*
 * Footer
 */
/*
 * Page bottom
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003327}}
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

/*FRONT PAGE STYLES*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003334}}
.front #main #content {
  padding: 0;
  margin: 0 auto;
  max-width: 957px;
  position: relative;
  height: 690px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003343}}
.front #main a {
  font-family: "dk_wayangregular";
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003349}}
.front #main .saltar {
  font-size: 22px;
  padding: 10px 0 8px 19px;
  display: block;
  position: absolute;
  z-index: 2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003358}}
.front #main .sprite-gray_2px_lin {
  margin-left: 19px;
  margin-top: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003363}}
.front #main .select-company-size {
  display: inline-block;
  font-size: 15px;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003369}}
.front #main .select-company-size .sprite-gray_2px_lin {
  margin-left: 0;
  margin-top: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003375}}
.front #main .open .select-company-size {
  color: #ffba00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003379}}
.front #main #tamanoCliente {
  position: relative;
  width: 100%;
  top: -86px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003385}}
.front #main #tamanoCliente .tamano {
  float: left;
  padding: 0;
  margin: 0;
  padding-left: 1%;
  margin-right: 10%;
  width: 25%;
  padding-top: 281px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003396}}
.front #main #tamanoCliente .tamano span.arrow {
  display: inline-block;
  line-height: 31px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003401}}
.front #main #tamanoCliente .tamano .nombre {
  text-transform: lowercase;
  font-size: 31px;
  font-weight: bold;
  margin-bottom: 17px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003414}}
.front #main #tamanoCliente .tamano.pos-0 {
  margin-top: 95px;
  padding-top: 186px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003419}}
.front #main #tamanoCliente .tamano.pos-1 {
  margin-left: 1%;
  padding-right: 1%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003425}}
.front #main #tamanoCliente .tamano.pos-2 {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003431}}
.front #main #footer {
  text-align: center;
  font-family: "adobe_caslon_proitalic";
  font-size: 22px;
  color: #62575a;
  clear: both;
}

/*BASCI PAGES STYLES*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003443}}
.node-type-page #content {
  padding-top: 67px;
  max-width: 512px;
}

/*CATALOG PAGES*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003452}}
.page-node-16 #content,
.page-node-17 #content {
  max-width: 100%;
  padding-top: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003458}}
.page-node-16 #page-title,
.page-node-16 .tabs-primary,
.page-node-17 #page-title,
.page-node-17 .tabs-primary {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003462}}
.page-node-16 .catalogo,
.page-node-17 .catalogo {
  margin-bottom: 47px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003465}}
.page-node-16 .catalogo a,
.page-node-17 .catalogo a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003468}}
.page-node-16 .catalogo a:hover,
.page-node-17 .catalogo a:hover {
  color: #ffba00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003474}}
.page-node-16 .catalogo h3,
.page-node-17 .catalogo h3 {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003478}}
.page-node-16 .catalogo img,
.page-node-17 .catalogo img {
  max-width: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003481}}
.page-node-16 .catalogo .left-tab,
.page-node-17 .catalogo .left-tab {
  overflow: hidden;
  float: left;
  text-indent: -10000px;
  margin-right: 79px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003488}}
.page-node-16 .catalogo .view,
.page-node-17 .catalogo .view {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003492}}
.page-node-16 .catalogo .views-row,
.page-node-17 .catalogo .views-row {
  float: left;
  margin-right: 65px;
  position: relative;
  height: 248px;
  overflow: hidden;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003500}}
.page-node-16 .catalogo .views-row .field-name-field-logo a,
.page-node-17 .catalogo .views-row .field-name-field-logo a {
  display: block;
  text-align: center;
  line-height: 248px;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003511}}
.page-node-16 .catalogo .views-row.views-row-last,
.page-node-17 .catalogo .views-row.views-row-last {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003518}}
.page-node-16 .catalogo.proyectos .ds-1col,
.page-node-17 .catalogo.proyectos .ds-1col {
  position: absolute;
  top: 0;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003523}}
.page-node-16 .catalogo.proyectos .ds-1col .group-imagen,
.page-node-17 .catalogo.proyectos .ds-1col .group-imagen {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003528}}
.page-node-16 .catalogo.proyectos .ds-1col .group-informacion,
.page-node-17 .catalogo.proyectos .ds-1col .group-informacion {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003531}}
.page-node-16 .catalogo.proyectos .ds-1col .group-informacion .sprite,
.page-node-17 .catalogo.proyectos .ds-1col .group-informacion .sprite {
  position: absolute;
  z-index: -1;
  top: 18px;
  right: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003542}}
.page-node-16 .catalogo-completo,
.page-node-17 .catalogo-completo {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003548}}
.testimonial {
  font-size: 12px;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003551}}
.testimonial .texto {
  text-align: left;
  font-family: "adobe_caslon_proitalic";
  font-size: 19px;
  margin-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003558}}
.testimonial .author {
  margin: 0;
  line-height: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003563}}
.testimonial .cargo {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003569}}
body.node-type-cliente .cliente-info {
  width: 180px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003572}}
body.node-type-cliente .cliente-info .testimonial {
  margin-top: 38px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003575}}
body.node-type-cliente .cliente-info .description {
  border-color: #62575a;
  border-bottom: solid 1px;
  border-top: solid 1px;
  padding: 5px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003587}}
body.node-type-cliente .cuadricula-container {
  width: 695px;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003591}}
body.node-type-cliente .cuadricula-container .cuadricula-wrapper {
  width: 702px;
  height: 702px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003597}}
#cuadricula-controls {
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003601}}
#cuadricula-controls span, #cuadricula-controls a {
  margin: 0 3px;
  display: inline-block;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003606}}
#cuadricula-controls a.activeSlide {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003611}}
#cuadricula-controls .cycle-pager {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003616}}
.cuadricula {
  width: 702px;
  height: 702px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003621}}
.cuadricula .wrapper {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003626}}
.cuadricula .celda {
  position: absolute;
  min-height: 117px;
  min-width: 117px;
  background: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003633}}
.cuadricula .celda .container {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003637}}
.cuadricula .celda .ico {
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url("../images/lupas.png");
  background-repeat: no-repeat;
  z-index: 10;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003649}}
.cuadricula .celda .ico.close {
  background-position: -23px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003653}}
.cuadricula .celda .big-image {
  display: none;
  position: absolute;
  z-index: 100;
  background: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003659}}
.cuadricula .celda .big-image img {
  max-width: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003664}}
.cuadricula .celda .top-left {
  top: 0;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003668}}
.cuadricula .celda .top-right {
  top: 0;
  right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003672}}
.cuadricula .celda .bottom-left {
  bottom: 0;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003676}}
.cuadricula .celda .bottom-right {
  bottom: 0;
  right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003682}}
.cuadricula .celda.c1 {
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003685}}
.cuadricula .celda.r1 {
  margin-top: 0;
}

/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003703}}
  #main {
    width: 100% !important;
    padding: 0 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003711}}
  #main #content {
    margin-top: 50px !important;
    height: auto !important;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003715}}
  #main .sprite-hola {
    margin: 0 auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003718}}
  #main .saltar {
    width: 71px;
    margin: 0 auto;
    margin-top: 15px;
    position: relative !important;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003724}}
  #main .sprite-gray_2px_lin {
    margin: 0 auto !important;
    width: 50px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003729}}
  #main #tamanoCliente {
    top: auto !important;
    background: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003733}}
  #main #tamanoCliente .pos-0 {
    margin-top: 50px !important;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003737}}
  #main #tamanoCliente .tamano {
    width: 100% !important;
    padding-top: 0 !important;
    margin-bottom: 50px !important;
    text-align: center;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003749}}
  #page #header > div {
    width: 100%;
    text-align: center;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003756}}
  #page #header .logo-wrapper #logo {
    display: inline-block;
    float: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003762}}
  #page #header .contact_info .social {
    float: none;
    text-align: center;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003766}}
  #page #header .contact_info .social a {
    display: inline-block;
    float: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003773}}
  #page #navigation {
    height: auto;
    position: relative;
    top: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003778}}
  #page #navigation #main-menu {
    width: auto;
    background: none;
    height: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003783}}
  #page #navigation #main-menu .links {
    text-align: center;
    display: inline-block;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003787}}
  #page #navigation #main-menu .links li {
    display: inline-block;
    float: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003795}}
  #page .region-sidebar-second .block {
    float: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/milpa\/source\/sites\/all\/themes\/custom\/sass\/pages\.scss}line{font-family:\00003803}}
  .node-type-page #main #content {
    padding-top: 0;
    margin-top: 0 !important;
  }
}
/* Landscape phones and down */
