/**
 * @file
 * RTL companion for the tabs.css file.
 */
/*font-family:'News Gothic MT W01';
font-family:'NewsGothicMTW01-Italic';
font-family:'News Gothic MT W01 Bold';
font-family:'NewsGothicMTW01-BoldIta';
font-family:'NewsGothicMTW01-Condens';
font-family:'NewsGothicMTW01-BoldCon';*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/custom\/sass\/tabs-rtl\.scss}line{font-family:\0000311}}
ul.primary li,
ul.secondary li {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/custom\/sass\/tabs-rtl\.scss}line{font-family:\0000317}}
ul.primary li {
  margin: 0.5em 3px 0 0;
}
