/**
 * @file
 * Wireframes Styling
 *
 * Add wireframes to the basic layout elements.
 */
/*font-family:'News Gothic MT W01';
font-family:'NewsGothicMTW01-Italic';
font-family:'News Gothic MT W01 Bold';
font-family:'NewsGothicMTW01-BoldIta';
font-family:'NewsGothicMTW01-Condens';
font-family:'NewsGothicMTW01-BoldCon';*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/custom\/sass\/wireframes\.scss}line{font-family:\0000319}}
.with-wireframes #header,
.with-wireframes #main,
.with-wireframes #content,
.with-wireframes #navigation,
.with-wireframes .region-sidebar-first,
.with-wireframes .region-sidebar-second,
.with-wireframes #footer,
.with-wireframes .region-bottom {
  outline: 1px solid #ccc;
}
