/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\0000315}}
body {
  margin: 0;
  padding: 0;
  color: #4f4e4f;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\0000329}}
#skip-link {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\0000333}}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\0000350}}
#logo {
  /* Wrapping link for logo */
  margin-top: -55px;
  padding: 0;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\0000356}}
#logo img {
  vertical-align: bottom;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\0000361}}
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\0000366}}
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\0000373}}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\0000379}}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\0000384}}
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\0000390}}
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\0000395}}
#size-filters {
  position: fixed;
  display: inline;
  left: 0;
  top: 90px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003101}}
#size-filters a {
  display: block;
  background: #75696d;
  padding: 6px 13px;
  color: white;
  font-size: 13px;
  margin-bottom: 5px;
  text-indent: -999999em;
  text-decoration: none;
  cursor: pointer;
  width: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003128}}
#size-filters a:hover,
#size-filters a.active {
  background: #ffba00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003135}}
#size-filters:hover a {
  text-indent: 0;
  width: 150px;
  text-align: right;
}

/*
 * Main (container for everything else)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003147}}
#main #content-top {
  vertical-align: middle;
  padding-left: 75px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003151}}
#main #content-top #testimonios {
  display: inline;
  float: left;
  width: 70%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003155}}
#main #content-top #testimonios .views-row {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003161}}
#main #content-top #testimonios .field-name-field-testimonio p {
  margin-top: 15px;
  text-align: justify;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003166}}
#main #content-top #testimonios .field-name-field-testimonio p:first-child {
  margin-top: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003171}}
#main #content-top #testimonios .field-name-title {
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003174}}
#main #content-top #testimonios .field-name-title h4 {
  font-weight: normal;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003179}}
#main #content-top #testimonios .field-name-field-cargo {
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003183}}
#main #content-top #testimonios .field-name-field-empresa {
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003191}}
#main #content-top #page-title {
  padding: 70px;
  background: url("../images/conten_top_h1.png") no-repeat left top;
  font-size: 31px;
  color: #75696d;
  font-weight: normal;
  font-family: "robotobold";
  line-height: 1em;
  display: inline-block;
  margin-left: 5%;
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003204}}
#main #content-top div#page-title {
  height: 130px;
  margin: 0;
  padding: 30px 0 0 30px;
  width: 35%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003209}}
#main #content-top div#page-title p {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003218}}
#brand-info {
  text-align: right;
  color: #75696d;
  font-size: 14px;
  line-height: 20px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003225}}
#brand-info a {
  color: #75696d;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003229}}
#brand-info a:hover {
  color: #ffba00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003233}}
#brand-info .social a {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003238}}
#main #content #owl-example {
  color: #4f4e4f;
  font-size: 14px;
  line-height: 20px;
  /*   .btn.prev, .btn.{
       position: relative;
       z-index: 999;
  }*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003244}}
#main #content #owl-example .owl-item {
  font-size: 11px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003247}}
#main #content #owl-example .owl-item p {
  padding-right: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003251}}
#main #content #owl-example .owl-item a.person-email {
  font-size: 11px;
  background: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003257}}
#main #content #owl-example h1 {
  font-family: "robotobold";
  font-size: 22px;
  color: #75696d;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003265}}
#main #content #owl-example a {
  text-decoration: none;
  color: #75696d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003270}}
#main #content #owl-example a:hover, #main #content #owl-example a.active {
  color: #ffba00;
}

/*
 * Content
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003286}}
#content #content-body {
  padding-left: 75px;
  color: #4f4e4f;
  font-size: 14px;
  line-height: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003292}}
#content #content-body .col {
  width: 30%;
  margin-right: 5%;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003298}}
#content #content-body .col.double {
  width: 60%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003302}}
#content #content-body .col.services {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003305}}
#content #content-body .col.services a {
  display: inline-block;
  background: #ffba00;
  padding: 0 4px;
  font-family: "robotobold";
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 8px;
  text-decoration: none;
  color: #000000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003318}}
#content #content-body .brand {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  min-height: 160px;
  width: 30%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003325}}
#content #content-body .brand img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003337}}
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003339}}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003343}}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003356}}
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003361}}
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003367}}
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003372}}
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003376}}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003382}}
div.status {
  /* Normal priority messages */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003387}}
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003394}}
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003398}}
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003404}}
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003410}}
.tabs {
  /* See also the tabs.css file. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003414}}
.region-help {
  /* Help text on a page */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003418}}
.more-help-link {
  /* Link to more help */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003422}}
.region-content {
  /* Wrapper for the actual page content */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003426}}
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003431}}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003438}}
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003443}}
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003447}}
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003453}}
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003457}}
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003485}}
#footer {
  font-size: 11px;
  color: #75696d;
  text-align: center;
  margin-top: 35px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003491}}
#footer a {
  color: #75696d;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003495}}
#footer a:hover {
  color: #ffba00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003498}}
#footer p {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003503}}
#footer img {
  line-height: 10px;
  vertical-align: middle;
  margin: -2px 3px 0 0;
}

/*
 * Page bottom
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003514}}
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003518}}
.line {
  width: 100%;
  height: 1px;
  border-bottom: #4f4e4f 1px solid;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003526}}
#testimonios {
  text-align: right;
  font-size: 12px;
  line-height: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003530}}
#testimonios .field-name-field-testimonio {
  text-align: left;
  font-family: "adobe_caslon_proitalic";
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003537}}
#testimonios .persona-testimonio {
  margin: 25px 0 0 0;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003546}}
#content-top #testimonios .field-name-field-testimonio {
  font-size: 23px;
  line-height: 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003553}}
.view-display-id-clientes_como_tu {
  min-height: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003556}}
.view-display-id-clientes_como_tu .views-row {
  float: left;
  width: 30%;
  height: 160px;
  margin-bottom: 53px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003563}}
.view-display-id-clientes_como_tu .logos-cliente {
  position: relative;
  text-align: center;
  vertical-align: middle;
  line-height: 160px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003571}}
.view-display-id-clientes_como_tu .logos-cliente .field-name-field-logo,
.view-display-id-clientes_como_tu .logos-cliente .field-name-field-logo-bn {
  position: absolute;
  top: 0;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003578}}
.view-display-id-clientes_como_tu .logos-cliente .field-name-field-logo {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003584}}
.view-display-id-clientes_como_tu .logos-cliente:hover .field-name-field-logo {
  display: block;
  z-index: 1;
}

/* SPECIFIC PAGES SYTLES */
/*FRONT PAGE STYLES*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003595}}
.front #main {
  float: none;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003598}}
.front #main #content {
  padding: 0;
  margin: 0 auto;
  max-width: 957px;
  position: relative;
  height: 690px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003607}}
.front #main a {
  color: #4f4e4f;
  font-family: "dk_wayangregular";
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003612}}
.front #main .hola-message {
  color: #61565a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003614}}
.front #main .hola-message .texto-hola {
  font-family: "robotobold";
  font-size: 108px;
  line-height: 108px;
  font-weight: bold;
  margin-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003621}}
.front #main .hola-message .texto-quien-eres {
  font-family: robotoregular;
  font-weight: lighter;
  font-size: 47px;
  line-height: 47px;
  margin-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003628}}
.front #main .hola-message .texto-quien-eres .sprite-gray_2px_lin {
  display: block;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003638}}
.front #main .saltar {
  font-size: 22px;
  padding: 10px 0 8px 19px;
  display: block;
  position: absolute;
  z-index: 2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003647}}
.front #main .sprite-gray_2px_lin {
  margin-left: 19px;
  margin-top: 54px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003652}}
.front #main .select-company-size {
  display: inline-block;
  font-size: 15px;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003658}}
.front #main .select-company-size .sprite-gray_2px_lin {
  margin-left: 0;
  margin-top: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003664}}
.front #main .open .select-company-size {
  color: #ffba00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003668}}
.front #main #tamanoCliente {
  position: relative;
  width: 100%;
  top: -86px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003674}}
.front #main #tamanoCliente .tamano {
  float: left;
  padding: 0;
  margin: 0;
  padding-left: 1%;
  margin-right: 10%;
  width: 25%;
  padding-top: 281px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003685}}
.front #main #tamanoCliente .tamano span.arrow {
  display: inline-block;
  line-height: 31px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003690}}
.front #main #tamanoCliente .tamano .nombre {
  text-transform: lowercase;
  font-size: 31px;
  font-weight: bold;
  margin-bottom: 17px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003703}}
.front #main #tamanoCliente .tamano.pos-0 {
  margin-top: 95px;
  padding-top: 186px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003708}}
.front #main #tamanoCliente .tamano.pos-1 {
  margin-left: 1%;
  padding-right: 1%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003714}}
.front #main #tamanoCliente .tamano.pos-2 {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003720}}
.front #main #footer {
  text-align: center;
  font-family: "adobe_caslon_proitalic";
  font-size: 22px;
  color: #4f4e4f;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003733}}
.page-node #main {
  margin-top: 35px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003740}}
.node-type-cliente #main {
  margin-top: 105px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003745}}
.node-type-cliente #testimonios p:first-child {
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003749}}
.node-type-cliente #testimonios .field-name-field-cargo,
.node-type-cliente #testimonios .field-name-field-empresa {
  display: inline-block;
  margin-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003753}}
.node-type-cliente #testimonios .persona-testimonio:after {
  content: ",";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003756}}
.node-type-cliente #testimonios .persona-testimonio:before {
  content: "- ";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003761}}
.node-type-cliente .line {
  margin: 31px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003765}}
.node-type-cliente .col.double {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003767}}
.node-type-cliente .col.double img {
  margin-bottom: 35px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003776}}
.section-nuestros-clientes #content #content-body {
  padding-top: 50px;
  min-height: 200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003786}}
.section-el-trabajo .proyectos {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003790}}
.section-el-trabajo .proyecto {
  height: 200px;
  width: 31%;
  position: relative;
  float: left;
  overflow: hidden;
  margin-bottom: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003800}}
.section-el-trabajo .proyecto .contenedor {
  position: absolute;
  top: 0;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003807}}
.section-el-trabajo .proyecto .proyecto-imagen {
  width: 100%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003810}}
.section-el-trabajo .proyecto .proyecto-imagen image {
  max-width: 100%;
  max-height: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003816}}
.section-el-trabajo .proyecto .proyecto-info {
  padding-top: 2px;
  width: 98%;
  background: white;
  padding-left: 2%;
  height: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003823}}
.section-el-trabajo .proyecto .proyecto-info h2 {
  font-size: 15px;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003828}}
.section-el-trabajo .proyecto .proyecto-info .item-list ul {
  font-size: 12px;
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003833}}
.section-el-trabajo .proyecto .proyecto-info .item-list ul li {
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/pages\.scss}line{font-family:\00003838}}
.section-el-trabajo .proyecto .proyecto-info a {
  color: #4f4e4f;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
}
