/**
 * @file
 * RTL companion for the responsive-sidebars.css file.
 */
/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Center the page.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000344}}
#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000351}}
#page #owl-example,
.region-bottom #owl-example {
  width: 468px;
  margin-top: 90px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/*
 * Containers for grid items and flow items.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass-extensions\/zen-grids\/stylesheets\/zen\/_grids\.scss}line{font-family:\0000352}}
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass-extensions\/zen-grids\/stylesheets\/zen\/_grids\.scss}line{font-family:\0000356}}
#header:after,
#main:after,
#footer:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000382}}
#header {
  padding-top: 32px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000385}}
#header, #navigation {
  padding-left: 0;
}

/*
 * Navigation bar
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000395}}
#main {
  float: left;
  width: 78%;
  margin-right: 2%;
  margin-top: 45px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003101}}
#brand-info {
  width: 20%;
  float: left;
}

@media all and (min-width: 10px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003114}}
  #main {
    width: 100%;
    margin-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003118}}
  #content #content-body .col {
    margin-right: 0 !important;
    width: 100% !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003122}}
  body #main #content-top .filter, body .filter:hover a {
    width: 100% !important;
    text-align: left !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003126}}
  body #main #content-top .filter a {
    width: 100%;
    text-indent: 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003138}}
  body #main #content-top #page-title {
    margin-left: 0;
    margin-top: 15px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003142}}
  body #brand-info {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003146}}
  body #page #owl-example {
    margin-top: 25px;
    text-align: center;
    width: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003151}}
  body #page #owl-example .owl-item p {
    padding: 0 15px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003157}}
  body #block-system-main-menu {
    padding-left: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003160}}
  body #block-system-main-menu ul {
    text-align: center;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003163}}
  body #block-system-main-menu ul li {
    width: 33%;
    padding: 0;
    border: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003171}}
  .logo_mobile {
    text-align: center;
    display: block !important;
    margin-bottom: 25px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003177}}
  body #content #content-body .brand {
    width: 100%;
    margin: 0 0 25px;
    min-height: 2px;
  }

  /*
   * Use 3 grid columns for smaller screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003193}}
  .sidebar-first #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: right;
    width: 66.66667%;
    margin-right: 33.33333%;
    margin-left: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003197}}
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003207}}
  .sidebar-second #content {
    /* Span 2 columns, starting in 1st column from left. */
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003211}}
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 3rd column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }

  /*
   * The layout when there are two sidebars.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003221}}
  .two-sidebars #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: right;
    width: 66.66667%;
    margin-right: 33.33333%;
    margin-left: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003225}}
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003229}}
  .two-sidebars .region-sidebar-second {
    /* Start a new row and span all 3 columns. */
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: right;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003234}}
  .two-sidebars .region-sidebar-second .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003237}}
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    /* Span 1 column, starting in the 1st column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    clear: right;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003241}}
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    /* Span 1 column, starting in the 2nd column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 33.33333%;
    margin-left: -66.66667%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003244}}
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    /* Span 1 column, starting in the 3rd column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }
}
@media all and (min-width: 960px) {
  /*
   * Use 5 grid columns for larger screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003262}}
  .sidebar-first #content {
    /* Span 4 columns, starting in 2nd column from left. */
    float: right;
    width: 80%;
    margin-right: 20%;
    margin-left: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003266}}
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 20%;
    margin-right: 0%;
    margin-left: -20%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003276}}
  .sidebar-second #content {
    /* Span 4 columns, starting in 1st column from left. */
    float: right;
    width: 80%;
    margin-right: 0%;
    margin-left: -80%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003280}}
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: right;
    width: 20%;
    margin-right: 80%;
    margin-left: -100%;
  }

  /*
   * The layout when there are two sidebars.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003290}}
  .two-sidebars #content {
    /* Span 3 columns, starting in 2nd column from left. */
    float: right;
    width: 60%;
    margin-right: 20%;
    margin-left: -80%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003294}}
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 20%;
    margin-right: 0%;
    margin-left: -20%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/milpa\/source\/sites\/all\/themes\/milpa\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003298}}
  .two-sidebars .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: right;
    width: 20%;
    margin-right: 80%;
    margin-left: -100%;
  }
}
