/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
@import "base";

/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  color:$gris-body;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#header {
}

#logo {
  /* Wrapping link for logo */
  margin-top: -55px;
  padding: 0;
  display: block;

  img {
    vertical-align: bottom;
  }
}

#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

#size-filters {
  position: fixed;
  display: inline;
  left: 0;
  top:90px;

  a {
    display: block;
    background: $gris-menu;
    padding: 6px 13px;
    color: $blanco;
    font-size: 13px;
    margin-bottom: 5px;
    text-indent: -999999em;
    text-decoration: none;
    cursor: pointer;
    width: 0;

    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;


    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  a:hover,
  a.active{
    background: $amarillo;
  }


}

#size-filters:hover a {
  text-indent: 0;
  width: 150px;
  text-align: right;
}

/*
 * Main (container for everything else)
 */

#main {

  #content-top {
    vertical-align: middle;
    padding-left: 75px;

    #testimonios {
      display: inline;
      float: left;
      width: 70%;
      .views-row {
        width: 100%;
      }
      .field-name-field-testimonio {


        p {
          margin-top: 15px;
          text-align: justify;
          margin-bottom: 10px;
        }
        p:first-child{
          margin-top: 0px;

        }
      }
      .field-name-title {

        text-align: right;
        h4 {
          font-weight: normal;
          margin: 0;
        }
      }
      .field-name-field-cargo {

        text-align: right;
      }
      .field-name-field-empresa {

        text-align: right;
      }
    }



    #page-title {
      padding: 70px;
      background: url("../images/conten_top_h1.png") no-repeat left top;
      font-size: 31px;
      color: $gris-menu;
      font-weight: normal;
      font-family: $robotobold;
      line-height: 1em;
      display: inline-block;
      margin-left: 5%;
      vertical-align: top;
    }

    div#page-title {
      height: 130px;
      margin: 0;
      padding: 30px 0 0 30px;
      width: 35%;
      p {
        margin: 0;
      }
    }

  }

}

#brand-info {
  text-align: right;
  color: $gris-menu;
  font-size: 14px;
  line-height: 20px;
  position: relative;

  a {
    color: $gris-menu;
    text-decoration: none;
  }
  a:hover {
    color: $amarillo;
  }

  .social a {
    display: inline-block;
  }
}

#main #content #owl-example {

  color: $gris-body;
  font-size: 14px;
  line-height: 20px;

  .owl-item {

    font-size: 11px;
    p {
      padding-right: 30px;
    }

    a.person-email{
      font-size: 11px;
      background: white;
    }
  }

  h1 {
    font-family: $robotobold;
    font-size: 22px;
    color: $gris-menu;
    font-weight: normal;

  }

  a {
    text-decoration: none;
    color: $gris-menu;
  }

  a:hover, a.active {
    color: $amarillo;
  }

  /*   .btn.prev, .btn.{
       position: relative;
       z-index: 999;
  }*/
}

/*
 * Content
 */

#content {

  #content-body {
    padding-left: 75px;
    color: $gris-body;
    font-size: 14px;
    line-height: 20px;

    .col {
      width: 30%;
      margin-right: 5%;
      float: left;
     // margin-top: 25px;
    }
    .col.double{
      width: 60%;
    }

    .col.services {
      margin-right: 0;

      a {
        display: inline-block;
        background: $amarillo;
        padding: 0 4px;
        font-family: $robotobold;
        cursor: pointer;
        font-size: 18px;
        margin-bottom: 8px;
        text-decoration: none;
        color: #000000;
      }
    }

    .brand {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      min-height: 160px;
      width: 30%;

      img {
        vertical-align: middle;
        max-width: 100%;
        height: auto;
      }
    }
  }
}

.region-highlighted {
}

.breadcrumb {
  /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title {
  /* Comment title */
  margin: 0;
}

tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status {
  /* Normal priority messages */
}

div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

.tabs {
  /* See also the tabs.css file. */
}

.region-help {
  /* Help text on a page */
}

.more-help-link {
  /* Link to more help */
}

.region-content {
  /* Wrapper for the actual page content */
}

ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}

span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li {
    /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
  font-size: 11px;
  color: $gris-menu;
  text-align: center;
  margin-top: 35px;

  a {
    color: $gris-menu;
    text-decoration: none;
  }
  a:hover {
    color: $amarillo;
  }
  p{
    margin:0;
    padding: 0;
  }

  img{
    line-height: 10px;
    vertical-align: middle;
    margin: -2px 3px 0 0;
  }
}

/*
 * Page bottom
 */

.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

.line{
  width: 100%;
  height: 1px;
  border-bottom: $gris-body 1px solid;
  margin: 0;
  padding: 0;
}

#testimonios{
  text-align: right;
  font-size: 12px;
  line-height: 15px;
  .field-name-field-testimonio{
    text-align: left;
    font-family: $adobeCaslonProItalic;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  .persona-testimonio{
    margin: 25px 0 0 0 ;
    font-weight: normal;
  }

}

#content-top #testimonios{

  .field-name-field-testimonio{
    font-size: 23px;
    line-height: 25px;
  }
}


.view-display-id-clientes_como_tu{
  $height:160px;
  min-height: 200px;
  .views-row{
    float: left;
    width: 30%;
    height: $height;
    margin-bottom: 53px;
  }

  .logos-cliente{

    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: $height;

    .field-name-field-logo,
    .field-name-field-logo-bn{
      position: absolute;
      top:0;
      cursor: pointer;

    }

    .field-name-field-logo{
      display: none;
    }

  }
  .logos-cliente:hover{
    .field-name-field-logo{
      display: block;
      z-index: 1;
    }
  }

}


/* SPECIFIC PAGES SYTLES */
/*FRONT PAGE STYLES*/
.front #main {
  float: none;
  margin: 0 auto;
  #content {

    padding: 0;
    margin: 0 auto;
    max-width: 957px;
    position: relative;
    height: 690px;

  }
  a {
    color:$gris-body;
    font-family: $dkWayang;
    text-decoration: none;
  }
  .hola-message{
    color:$gris-home;
    .texto-hola{
      font-family: $robotobold;
      font-size: 108px;
      line-height: 108px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .texto-quien-eres{
      font-family: robotoregular;
      font-weight: lighter;
      font-size: 47px;
      line-height: 47px;
      margin-bottom: 15px;

      .sprite-gray_2px_lin {
        display: block;
        float: left;
        margin-left: 0;
        margin-right: 0;
        margin-top: 12px;
      }

    }
  }
  .saltar {

    font-size: 22px;
    padding: 10px 0 8px 19px;
    display: block;
    position: absolute;
    z-index: 2;

  }
  .sprite-gray_2px_lin {
    margin-left: 19px;
    margin-top: 54px;
  }

  .select-company-size {

    display: inline-block;
    font-size: 15px;
    margin-top: 10px;

    .sprite-gray_2px_lin {
      margin-left: 0;
      margin-top: 2px;
    }

  }
  .open .select-company-size {
    color: $amarillo;
  }

  #tamanoCliente {

    position: relative;
    width: 100%;
    top: -86px;

    .tamano {

      float: left;
      padding: 0;
      margin: 0;
      padding-left: 1%;
      margin-right: 10%;
      width: 25%;
      padding-top: 281px;
      cursor: pointer;

      span.arrow {
        display: inline-block;
        line-height: 31px;
      }

      .nombre {

        text-transform: lowercase;
        font-size: 31px;
        font-weight: bold;
        margin-bottom: 17px;
      }

      .texto {
      }

    }

    .tamano.pos-0 {
      // Primer tamano
      margin-top: 95px;
      padding-top: 281px - 95px;
    }
    .tamano.pos-1 {
      // Primer tamano
      margin-left: 1%;
      padding-right: 1%;
    }

    .tamano.pos-2 {
      margin-right: 0;

    }

  }
  #footer {

    text-align: center;
    font-family: $adobeCaslonProItalic;
    font-size: 22px;
    color: $gris-body;
    clear: both;

  }
}

.page-node{

  #main{
    margin-top: 35px;
  }

}

.node-type-cliente{
  #main{
    margin-top: 105px;
  }

  #testimonios{
    p:first-child{
      margin-top: 0;
    }
    .field-name-field-cargo,
    .field-name-field-empresa {
      display: inline-block;
      margin-left: 5px;
    }
    .persona-testimonio:after{
      content:","
    }
    .persona-testimonio:before{
      content:"- "
    }
  }

  .line{
    margin: 31px 0;
  }

  .col.double{
    text-align: center;
    img{
      margin-bottom: 35px;
    }
  }

}

.section-nuestros-clientes{

  #content #content-body{
    padding-top: 50px;
    min-height: 200px;
  }



}

.section-el-trabajo{
  .proyectos{
    clear:both;
  }

  .proyecto{

    $height: 200px;
    height: $height;
    width: 31%;
    position:relative;
    float:left;
    overflow: hidden;
    margin-bottom: 40px;

    .contenedor{
      position: absolute;
      top:0;
      width: 100%;


    }
    .proyecto-imagen{
      width: 100%;
      text-align: center;
      image{
        max-width: 100%;
        max-height: $height;
      }
    }

    .proyecto-info{
      padding-top: 2px;
      width: 98%;
      background: white;
      padding-left: 2%;
      height: $height;

      h2{
        font-size: 15px;
        margin-bottom: 0;
      }

      .item-list ul{
        font-size: 12px;
        padding: 0;
        margin: 0;

        li{
          list-style: none;
        }
      }

      a{
        color:$gris-body;
        font-weight: bold;
        text-decoration: none;
        font-size: 12px;
      }

    }

  }

}
