/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
@import "base";

/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#header {
}

#logo {
  /* Wrapping link for logo */
  margin-top: -48px;
  padding: 0;
  display: block;

  img {
    vertical-align: bottom;
  }
}

#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
  #content-top {
    vertical-align: middle;

    .filter {
      display: inline-block;

      a {
        display: block;
        background: $gris-menu;
        padding: 6px 20px;
        color: $blanco;
        font-size: 13px;
        margin-bottom: 5px;
        text-indent: -999999em;
        cursor: pointer;
        width: 0;

        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;

        -webkit-border-top-right-radius: 15px;
        -webkit-border-bottom-right-radius: 15px;
        -moz-border-radius-topright: 15px;
        -moz-border-radius-bottomright: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
      a:hover {
        background: $amarillo;

      }
    }

    .filter:hover a {
      text-indent: 0;
      width: 150px;
      text-align: right;
    }

    #page-title {
      padding: 70px;
      background: url("../images/conten_top_h1.png") no-repeat left top;
      font-size: 31px;
      color: $gris-menu;
      font-weight: normal;
      font-family: $robotobold;
      line-height: 1em;
      display: inline-block;
      margin-left: 5%;
      vertical-align: top;
    }

    div#page-title {
      padding: 0 0 0 5%;
      width: 35%;
      ul {
        list-style: none;
      }
    }

  }

}

#brand-info {
  text-align: right;
  color: $gris-menu;
  font-size: 14px;
  line-height: 20px;
  position: relative;

  a {
    color: $gris-menu;
    text-decoration: none;
  }
  a:hover {
    color: $amarillo;
  }

  .social a {
    display: inline-block;
  }
}

#owl-example {

  color: $gris-body;
  font-size: 14px;
  line-height: 20px;

  .owl-item {
    p {
      padding-right: 30px;
    }
  }

  h1 {
    font-family: $robotobold;
    font-size: 22px;
    color: $gris-menu;
    font-weight: normal;

  }

  a {
    text-decoration: none;
    color: $gris-menu;
  }

  a:hover, a.active {
    color: $amarillo;
  }

  /*   .btn.prev, .btn.{
       position: relative;
       z-index: 999;
  }*/
}

/*
 * Content
 */

#content {

  #content-body {

    color: $gris-body;
    font-size: 14px;
    line-height: 20px;

    .col {
      width: 30%;
      margin-right: 5%;
      float: left;
      margin-top: 25px;
    }
    .col.services {
      margin-right: 0;

      a {
        display: inline-block;
        background: $amarillo;
        padding: 4px;
        font-family: $robotobold;
        cursor: pointer;
        font-size: 18px;
        margin-bottom: 8px;
      }
    }

    .brand {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      min-height: 160px;
      width: 30%;

      img {
        vertical-align: middle;
        max-width: 100%;
        height: auto;
      }
    }
  }
}

.region-highlighted {
}

.breadcrumb {
  /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title {
  /* Comment title */
  margin: 0;
}

tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status {
  /* Normal priority messages */
}

div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

.tabs {
  /* See also the tabs.css file. */
}

.region-help {
  /* Help text on a page */
}

.more-help-link {
  /* Link to more help */
}

.region-content {
  /* Wrapper for the actual page content */
}

ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}

span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li {
    /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
  font-size: 11px;
  color: $gris-menu;
  text-align: center;
  margin-top: 35px;

  a {
    color: $gris-menu;
    text-decoration: none;
  }
  a:hover {
    color: $amarillo;
  }
}

/*
 * Page bottom
 */

.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}
