/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
@import "base";

/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  color: $textosGenerales;
}

#page {
  /*border-right: 1px solid black;
  border-left: 1px solid black;*/

}
.pointer{
  cursor: pointer;
}

#mti_wfs_colophon img {
  display: none;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: $textosGenerales;
  }
}

/*
 * Header
 */

#header {
  padding-bottom: 52px;
  > div {
    float: left;
    width: 33%;
    margin: 0;
    padding: 0;
  }
  .logo-wrapper {

  }
  #logo {
    /* Wrapping link for logo */
    display: block;
    float: left; /* LTR */
    margin-left: 27px;
    margin-top: 48px;
  }

  .garden-tools {
    padding-top: 32px;
    .sprite {
      margin: 0 auto;
    }
  }

  .contact_info {
    padding-top: 38px;
    text-align: right;
    line-height: 18px;
    .social {
      float: right;
      margin-bottom: 12px;
      a {
        display: block;
        float: left;
        margin-left: 6px;
      }
    }
    .info {
      clear: both;
      p {
        margin: 0 0 24px 0;
      }
    }

  }

}

#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: $textosGenerales;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb {
  /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title {
  /* Comment title */
  margin: 0;
  font-size: 19px;
  font-family: 'News Gothic MT W01 Bold';
}

h2.subtitle {
  font-size: 19px;
}

tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status {
  /* Normal priority messages */
}

div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

.tabs {
  /* See also the tabs.css file. */
}

.region-help {
  /* Help text on a page */
}

.more-help-link {
  /* Link to more help */
}

.region-content {
  /* Wrapper for the actual page content */
}

ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}

span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li {
    /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
  padding-top: 25px;

  .block {
    padding-right: 27px;
    float: right;
    clear: right;
  }
}

/*
 * Footer
 */

#footer {

}

/*
 * Page bottom
 */

.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

/*FRONT PAGE STYLES*/
.front #main {

  #content {

    padding: 0;
    margin: 0 auto;
    max-width: 957px;
    position: relative;
    height: 690px;

  }
  a {

    font-family: $dkWayang;
    text-decoration: none;
  }

  .saltar {

    font-size: 22px;
    padding: 10px 0 8px 19px;
    display: block;
    position: absolute;
    z-index: 2;

  }
  .sprite-gray_2px_lin {
    margin-left: 19px;
    margin-top: 40px;
  }

  .select-company-size {

    display: inline-block;
    font-size: 15px;
    margin-top: 10px;

    .sprite-gray_2px_lin {
      margin-left: 0;
      margin-top: 2px;
    }

  }
  .open .select-company-size {
    color: $amarillo;
  }

  #tamanoCliente {

    position: relative;
    width: 100%;
    top: -86px;

    .tamano {

      float: left;
      padding: 0;
      margin: 0;
      padding-left: 1%;
      margin-right: 10%;
      width: 25%;
      padding-top: 281px;
      cursor: pointer;

      span.arrow {
        display: inline-block;
        line-height: 31px;
      }

      .nombre {

        text-transform: lowercase;
        font-size: 31px;
        font-weight: bold;
        margin-bottom: 17px;
      }

      .texto {
      }

    }

    .tamano.pos-0 {
      // Primer tamano
      margin-top: 95px;
      padding-top: 281px - 95px;
    }
    .tamano.pos-1 {
      // Primer tamano
      margin-left: 1%;
      padding-right: 1%;
    }

    .tamano.pos-2 {
      margin-right: 0;

    }

  }
  #footer {

    text-align: center;
    font-family: $adobeCaslonProItalic;
    font-size: 22px;
    color: $coloTextoFooter;
    clear: both;

  }
}

/*BASCI PAGES STYLES*/
.node-type-page #content {
  padding-top: 67px;
  max-width: 450px + 30px +30px + 2px /* chrome fix*/;
}

/*CATALOG PAGES*/
.page-node-16,
.page-node-17 {

  #content {
    max-width: 100%;
    padding-top: 50px;
  }

  #page-title,
  .tabs-primary {
    display: none;
  }

  .catalogo {
    margin-bottom: 47px;

    a{
      text-decoration: none;
    }
    a:hover{

      color:$amarillo;

    }

    h3 {
      display: none;
    }

    img{
      max-width: inherit;
    }
    .left-tab {
      overflow: hidden;
      float: left;
      text-indent: -10000px;
      margin-right: 79px;
    }

    .view {
      float: left;
    }

    .views-row {
      float: left;
      margin-right: 65px;
      position: relative;
      height: 248px;
      overflow: hidden;
      cursor: pointer;

      .field-name-field-logo a {

        display: block;
        text-align: center;
        line-height: 248px;
        vertical-align: middle;

      }

    }

    .views-row.views-row-last {
      margin-right: 0;
    }

  }

  .catalogo.proyectos {
    .ds-1col {
      position: absolute;
      top: 0;
      left: 0;

      .group-imagen {
        text-align: center;

      }

      .group-informacion {
        position: relative;

        .sprite{
          position: absolute;
          z-index: -1;
          top: 18px;
          right: 18px;
        }
      }

    }
  }

  .catalogo-completo {
    margin-bottom: 0;
  }
}

// PAGINA CLIENTE
.testimonial{
  font-size: 12px;
  text-align:right;
  .texto{
    text-align: left;
    font-family: $adobeCaslonProItalic;
    font-size: 19px;
    margin-bottom: 30px;
  }

  .author{
    margin: 0;
    line-height: 12px;
  }

  .cargo{
    margin: 0;
  }
}
body.node-type-cliente{

  .cliente-info{
    width:180px;
    float:left;
    .testimonial{
     margin-top: 38px;
    }
    .description{
      border-color:$coloTextoFooter;
      border-bottom: solid 1px;
      border-top: solid 1px;
      padding: 5px 0;
    }

    .testimonial{

    }

  }
  .cuadricula-container{
    width:695px;
    float:right;

    .cuadricula-wrapper{
      width: 702px;
      height: 702px;
    }
  }
}
#cuadricula-controls{

  text-align: right;

  span, a{
    margin: 0 3px;
    display: inline-block;
    text-decoration: none;
  }
  a.activeSlide{
    text-decoration: underline;
    font-weight: bold;
    color:black;
  }
  .cycle-pager{
    display: inline-block;
  }
}

.cuadricula{
  // 6 x 6, cada celda mide 115px y el ancho total es de 700px  con un margin de 2px
  width: 702px;
  height: 702px;

  .wrapper{
    position: relative;
  }


  .celda{
    position: absolute;
  //  margin-left: 2px;
    min-height: 117px;
    min-width: 117px;
    background: white;
   // margin-top: 2px;
    .container{
      position: relative;
    }

    .ico {
      width: 15px;
      height: 15px;
      position: absolute;
      background-image: url('../images/lupas.png');
      background-repeat: no-repeat;
      z-index: 10;
      bottom: 5px;
      right: 5px;
      cursor:pointer;
    }

    .ico.close{
      background-position: -23px 0;
    }

    .big-image{
      display: none;
      position: absolute;
      z-index: 100;
      background: white;

      img{
        max-width: inherit;
      }
    }

    .top-left{
      top:0;
      left:0;
    }
    .top-right{
      top:0;
      right: 0;
    }
    .bottom-left{
      bottom:0;
      left:0;
    }
    .bottom-right{
      bottom:0;
      right:0;
    }

  }
  .celda.c1{
    margin-left: 0;
  }
  .celda.r1{
    margin-top: 0;
  }
}